# Rust build artifacts
/target
/pseudocooker/target
/pseudotex/target

# pseudochef outputs
/dbg
/*.uasset
/*.umap
/*.uexp
/*.pak
/*.exe
/*.zip
/dist/*.exe
/dist/*.zip
/dist/*.dll

# TrenchBroom
/autosave
/*.map
